.container__menu-title{
	color: white;
	h1{
		margin: 10px 0 10px;
		font-size: 100px;
		display: flex;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		justify-content: center;
	}
	hr{
		margin: 20px 0 0;
	}
}
